<% if signed_in? %>
	<% if @user.id == 1 or @user.id == 2 %>
<%# 教員用のページを表示する %>

		<div class="row">
			<aside class="span3">
				<% student_array = [] %>
				<% @labomem.where(:labo => @user.labo).find_each do |labo| %>
					<% unless labo.id == 1 %>
						<% unless labo.id == 2 %>
						<% student_array << labo.id %>
							<% text = link_to labo.name, controller: "static_pages", action: "home",labomem: labo.id %>
						
							<%= labo.student_id %>
							<%= text %>
							<p></P>
						<% end %>
					<% end %>
				<% end %>
			</aside>
			<div class="span8">
			
			<% if params[:labomem] %> 
			<div id="sample">
				<% student = @labomem.find(params[:labomem]) %>
				<font size="5"><%= student.student_id %> <%= student.name %></font>
				<% sum = 0.0 %>
				<% array = [] %>
				<% @calendar_all.where(:user_id => params[:labomem]).find_each do |count| %>
					<% sum += count.time.to_f %>
					<% array << count.created_at.strftime('%m') %>
				<% end %>
				<section>
					合計 <%= sum.floor %> 時間 <%= (number_with_precision(sum - sum.floor, :precision => 2).to_f * 300 / 5).round %> 分
				</section>
				<% array.uniq.each do |uniq| %>
				<div id="sample3">
					<%= link_to "#{uniq} 月", controller: "static_pages", action: "home", month: uniq,labomem: params[:labomem] %>
				</div>
				<% end %>
				
				<p></p>

				<% if params[:month] %>
				<div id="sample2">
					<% @calendar_all.where(:user_id => params[:labomem]).find_each do |calendar| %>
						<% unless calendar.time == nil %>
							<% if calendar.date[4,2] == params[:month] %>
								<%= link_to calendar.date[6,2], controller: "calendars", action: "index",date: calendar.date,id: calendar.user_id %><%= " 日" %>
								<%= calendar.time.floor %><%= " 時間" %>
								<%= (number_with_precision(calendar.time - calendar.time.floor, :precision => 2).to_f * 300 / 5).round %><%= " 分" %>
								<p></p>
							<% end %>
						<% end %>
					<% end %>

				</div>

				<% else %>

				<div id="sample2">
					<% @calendar_all.where(:user_id => params[:labomem]).find_each do |calendar| %>
						<% unless calendar.time == nil %>
							<% if calendar.date[4,2] == @month.to_s %>
								<%= link_to calendar.date[6,2], controller: "calendars", action: "index",date: calendar.date,id: calendar.user_id %><%= " 日" %>
								<%= calendar.time.floor %><%= " 時間" %>
								<%= (number_with_precision(calendar.time - calendar.time.floor, :precision => 2).to_f * 300 / 5).round %><%= " 分" %>
								<p></p>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<% end %>
			<% end %>
		</div>
		</div>
		</div>
	<% else %>
<%# 学生用のページを表示する %>

	<div class="row">
		<aside class="span4">
			<section>
				<div class="row">
					<aside class="span4">
						<section>
							<%= render 'shared/user_info' %>
						</section>
						<section>
							<%= render 'shared/stats' %>
						</section>
						<section>
							<%= render 'shared/micropost_form' %>
						</section>
					</aside>
				</div>

			</section>
			<section>
				<table border="0" cellpadding="2" cellspacing="1" bgcolor="#333333" width="100%">
<tr align="center" bgcolor="#FFFFFF">
<td colspan="7">2014年12月</td>
</tr>
<tr align="center" bgcolor="#CCCCCC">
<td>日</td>
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td>土</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td></td>
<td><%= link_to '1', '/calendar/2014/12/01' %></td>
<td><%= link_to '2', '/calendar/2014/12/02' %></td>
<td><%= link_to '3', '/calendar/2014/12/03' %></td>
<td><%= link_to '4', '/calendar/2014/12/04' %></td>
<td><%= link_to '5', '/calendar/2014/12/05' %></td>
<td><%= link_to '6', '/calendar/2014/12/06' %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '7', '/calendar/2014/12/07' %></td>
<td><%= link_to '8', '/calendar/2014/12/08' %></td>
<td><%= link_to '9', '/calendar/2014/12/09' %></td>
<td><%= link_to '10', '/calendar/2014/12/10' %></td>
<td><%= link_to '11', '/calendar/2014/12/11' %></td>
<td><%= link_to '12', '/calendar/2014/12/12' %></td>
<td><%= link_to '13', '/calendar/2014/12/13' %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '14', '/calendar/2014/12/14' %></td>
<td><%= link_to '15', '/calendar/2014/12/15' %></td>
<td><%= link_to '16', '/calendar/2014/12/16' %></td>
<td><%= link_to '17', '/calendar/2014/12/17' %></td>
<td><%= link_to '18', '/calendar/2014/12/18' %></td>
<td><%= link_to '19', '/calendar/2014/12/19' %></td>
<td><%= link_to '20', '/calendar/2014/12/20' %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '21', '/calendar/2014/12/21' %></td>
<td><%= link_to '22', '/calendar/2014/12/22' %></td>
<td><%= link_to '23', '/calendar/2014/12/23' %></td>
<td><%= link_to '24', '/calendar/2014/12/24' %></td>
<td><%= link_to '25', '/calendar/2014/12/25' %></td>
<td><%= link_to '26', '/calendar/2014/12/26' %></td>
<td><%= link_to '27', '/calendar/2014/12/27' %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '28', '/calendar/2014/12/28' %></td>
<td><%= link_to '29', '/calendar/2014/12/29' %></td>
<td><%= link_to '30', '/calendar/2014/12/30' %></td>
<td><%= link_to '31', '/calendar/2014/12/31' %></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>


			</section>
			<section>
				<%= link_to "本日の研究内容", "/calendar/#{@year}/#{@month}/#{@day}",
						class: "btn btn-large btn-primary" %>		
			</section>
		</aside>
		
		<div class="span8">
			<div id="sample">
			
			<h3><%= @laboratory %>のつぶやき</h3>

			<%= render 'shared/feed' %>
			</div>
		
		<div>
	</div>
	<% end %>
<% else %>
	<% provide(:title, "Sign in") %>


<div class="row">
	<div class="span6 offset3">
		<div id="sample" >
		<%= form_for(:session, url: sessions_path) do |f| %>
			<h1>ログイン</h1>
			<%= f.label :"メール" %>
			<%= f.text_field :email %>
			<%= f.label :"パスワード" %>
			<%= f.password_field :password %>
			<%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
		<% end %>
		<p><%= link_to "アカウント作成", signup_path %></p>
	</div>
</div>
</div>
<% end %>