<% if signed_in? %>
	<% if @user.id == 1 or @user.id == 2 or @user.id == 3 or
		  @user.id == 4 or @user.id == 5 or @user.id == 6 or
		  @user.id == 7 or @user.id == 8 or @user.id == 9 or
		  @user.id == 10 %>
<%# 教員用のページを表示する %>

		<div class="row">
			<aside class="span3">
				<%# student_array = [] %>
				<% @labomem.where(:labo => @user.labo).each do |labo| %>
					<% unless labo.id == 1 or labo.id == 2 or labo.id == 3 or labo.id == 4 or 
							  labo.id == 5 or labo.id == 6 or labo.id == 7 or labo.id == 8 or
							  labo.id == 9 or labo.id == 10 or labo.id == 11 %>
						<%= labo.student_id %>
						<%= link_to labo.name, controller: "static_pages", action: "home",labomem: labo.id %>
						<p></P>								
					<% end %>
				<% end %>
			</aside>
			<div class="span8">
			
			<% if params[:labomem] %> 
			<div id="sample">
				<% student = @labomem.find(params[:labomem]) %>
				<font size="5"><%= student.student_id %> <%= student.name %></font>
				<% sum = 0.0 %>
				<% array = [] %>
				<% @calendar_all.where(:user_id => params[:labomem]).find_each do |count| %>
				
					<% sum += count.time.to_f %>
					<% array << count.date[4,2] %>
				<% end %>
				<section>
					合計 <%= sum.floor %> 時間 <%= (number_with_precision(sum - sum.floor, :precision => 2).to_f * 300 / 5).round %> 分
				</section>
				<table><tr>
				<% array.uniq.each do |uniq| %>
				<td>
				<div id="sample3">
					
					<%= link_to "#{uniq} 月", controller: "static_pages", action: "home", month: uniq,labomem: params[:labomem] %>
				
				</div>
				</td>
				<% end %>
			</tr></table>
				
				<p></p>

				<% if params[:month] %>
				
					<% @calendar_all.where(:user_id => params[:labomem]).find_each do |calendar| %>
						<% unless calendar.time == nil && calendar.content == nil %>
							<% if calendar.date[4,2] == params[:month] %>
							
								<%= link_to calendar.date[6,2], controller: "calendars", action: "index",date: calendar.date,id: calendar.user_id %><%= " 日" %>
								<% unless calendar.time == nil %>
									<%= calendar.time.floor %><%= " 時間" %>
									<%= (number_with_precision(calendar.time - calendar.time.floor, :precision => 2).to_f * 300 / 5).round %><%= " 分" %>
								
									<p></p>
								<% else %>
									<%= "0 時間 0 分" %> 
								<% end %>
							<% end %>
						<% end %>
					<% end %>

				

				<% else %>

				
					<% @calendar_all.where(:user_id => params[:labomem]).find_each do |calendar| %>
						<% unless calendar.time == nil && calendar.content == nil %>
							<% if calendar.date[4,2] == @month.to_s %>
								<%= link_to calendar.date[6,2], controller: "calendars", action: "index",date: calendar.date,id: calendar.user_id %><%= " 日" %>
								<% unless calendar.time == nil %>
									<%= calendar.time.floor %><%= " 時間" %>
									<%= (number_with_precision(calendar.time - calendar.time.floor, :precision => 2).to_f * 300 / 5).round %><%= " 分" %>
								
									<p></p>
								<% else %>
									<%= "0 時間 0 分" %> 
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				
				<% end %>
			<% else %>
			<div class="span8">
				<div id="sample">
				
					<h3><%= @laboratory %>のつぶやき</h3>

					<%= render 'shared/feed' %>
				</div>
			</div>
			<% end %>
		</div>
		</div>
		</div>
	<% else %>
<%# 学生用のページを表示する %>

	<div class="row">
		<aside class="span4">
			<section>
				<div class="row">
					<aside class="span4">
						<section>
							<%= render 'shared/user_info' %>
						</section>
						<section>
							<%= render 'shared/stats' %>
						</section>
						<section>
							<%= render 'shared/micropost_form' %>
						</section>

					</aside>
				</div>

			</section>
			<section>

				<% if params[:calendar] %>
					<%= render "shared/calendar_#{params[:calendar]}" %>
				<% else %>
					<%= render "shared/calendar_#{@year}#{@month}" %>
				<% end %>

			</section>
			<section>
				<%= link_to "本日の研究内容", "/calendar/#{@year}/#{@month}/#{@day}",
						class: "btn btn-large btn-primary" %>		
			</section>
		</aside>
		
		<div class="span8">
			<div id="sample">
			
			<h3><%= @laboratory %>のつぶやき</h3>

			<%= render 'shared/feed' %>
			</div>
		
		<div>
	</div>
	<% end %>


<% else %>
	<% provide(:title, "Sign in") %>

<%# ログインしていない場合 %>
<div class="row">
	<div class="span6 offset3">
		<div id="sample" >
		<%= form_for(:session, url: sessions_path) do |f| %>
			<h1>ログイン</h1>
			<%= f.label :"メール" %>
			<%= f.text_field :email %>
			<%= f.label :"パスワード" %>
			<%= f.password_field :password %>
			<%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
		<% end %>
		<p><%= link_to "アカウント作成", signup_path %></p>
	</div>
</div>
</div>
<% end %>