<% if signed_in? %>
	<% if @user.id == 1 %>
<%# 教員用のページを表示する %>

		<div class="row">
			<aside class="span3">

				<% @labomem.where(:labo => @user.labo).find_each do |labo| %>
				<% unless labo.id == 1 %>
					<% text = link_to labo.name, controller: "static_pages", action: "home",labomem: labo.id %>
					
					<%= labo.student_id %>
					<%= text %>
					<p></P>
				<% end %>
				<% end %>
			</aside>
			<div class="span8">
			
			<% if params[:labomem] %> 
			<div id="sample">
				<% student = @labomem.find(params[:labomem]) %>
				<font size="5"><%= student.student_id %> <%= student.name %></font>
				<% sum = 0.0 %>
				<% @calendar_all.where(:user_id => params[:labomem]).find_each do |count| %>
					<% sum += count.time.to_f %>
				<% end %>
				<section>
					合計 <%= sum.floor %> 時間 <%= (number_with_precision(sum - sum.floor, :precision => 2).to_f * 300 / 5).round %> 分
				</section>
				<ul id="fat-menu" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<% if params[:month] %>
						<div id="sample3">
							<%= params[:month] %> 月 <b class="caret"></b>
						</div>
						<% else %>
						<div id="sample3">
							<%= @month %> 月 <b class="caret"></b>
						</div>
						<% end %>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "11", controller: "static_pages", action: "home", month: 11,labomem: params[:labomem] %></li>
						<li><%= link_to "12", controller: "static_pages", action: "home", month: 12,labomem: params[:labomem] %></li>
						<li class="divider"></li>
					</ul>
				</ul>
				<p></p>

				<% if params[:month] %>
				<div id="sample2">
					<% @calendar_all.where(:user_id => params[:labomem]).find_each do |calendar| %>
						<% unless calendar.time == nil %>
							<% if calendar.date[4,2] == params[:month] %>
								<%= link_to calendar.date[6,2], controller: "calendars", action: "index",date: calendar.date,id: calendar.user_id %><%= " 日" %>
								<%= calendar.time.floor %><%= " 時間" %>
								<%= (number_with_precision(calendar.time - calendar.time.floor, :precision => 2).to_f * 300 / 5).round %><%= " 分" %>
								<p></p>
							<% end %>
						<% end %>
					<% end %>

				</div>

				<% else %>
				<div id="sample2">
					<% @calendar_all.where(:user_id => params[:labomem]).find_each do |calendar| %>
						<% unless calendar.time == nil %>
							<% if calendar.date[4,2] == @month %>
								<%= link_to calendar.date[6,2], controller: "calendars", action: "index",date: calendar.date,id: calendar.user_id %><%= " 日" %>
								<%= calendar.time.floor %><%= " 時間" %>
								<%= (number_with_precision(calendar.time - calendar.time.floor, :precision => 2).to_f * 300 / 5).round %><%= " 分" %>
								<p></p>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<% end %>
			<% end %>
		</div>
		</div>
		</div>
	<% else %>
<%# 学生用のページを表示する %>

	<div class="row">
		<aside class="span4">
			<section>
				<div class="row">
					<aside class="span4">
						<section>
							<%= render 'shared/user_info' %>
						</section>
						<section>
							<%= render 'shared/stats' %>
						</section>
						<section>
							<%= render 'shared/micropost_form' %>
						</section>
					</aside>
				</div>

			</section>
			<section>
				<table border="0" cellpadding="2" cellspacing="1" bgcolor="#999999" width="100%">
<tr align="center" bgcolor="#FFFFFF">
<td colspan="7">2014年11月</td>
</tr>
<tr align="center" bgcolor="#C9DFE8">
<td>日</td>
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td>土</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>1</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td bgcolor="#FF9999">2</td>
<td><%= link_to '3', '/calendar/2014/11/03' %></td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td bgcolor="#FF9999">9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td bgcolor="#FF9999">16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td bgcolor="#FF9999">23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td><%= link_to '28', '/calendar/2014/11/28' %></td>
<td>29</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td bgcolor="#FF9999">30</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
			</section>
			<section>
				<%= link_to "本日の研究内容", "/calendar/#{@year}/#{@month}/#{@day}",
						class: "btn btn-large btn-primary" %>		
			</section>
		</aside>
		
		<div class="span8">
			<div id="sample">
			
			<h3><%= @laboratory %>のつぶやき</h3>

			<%= render 'shared/feed' %>
			</div>
		
		<div>
	</div>
	<% end %>
<% else %>
	<% provide(:title, "Sign in") %>


<div class="row">
	<div class="span6 offset3">
		<div id="sample" >
		<%= form_for(:session, url: sessions_path) do |f| %>
			<h1>ログイン</h1>
			<%= f.label :"メール" %>
			<%= f.text_field :email %>
			<%= f.label :"パスワード" %>
			<%= f.password_field :password %>
			<%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
		<% end %>
		<p><%= link_to "アカウント作成", signup_path %></p>
	</div>
</div>
</div>
<% end %>