<% provide(:title, "Sign in") %>


<div class="row">

		
	<div class="span6 offset3">
		<div id="sample" >
		<%= form_for(:session, url: sessions_path) do |f| %>
			<h1>ログイン</h1>
			<%= f.label :"メール" %>
			<%= f.text_field :email %>
			<%= f.label :"パスワード" %>
			<%= f.password_field :password %>
			<%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
		<% end %>
		<p><%= link_to "アカウント作成", signup_path %></p>
</div>
	</div>
</div>