<% provide(:title, 'Sign up') %>


<div class="row">
	<div class="span6 offset3">
		<div id="sample" >
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<h1>アカウント作成</h1>
			<%= f.label :"名前" %>
			<%= f.text_field :name %>
			<%= f.label :"学籍番号" %>
			<%= f.text_field :student_id %>
			<%= f.label :"メール" %>
			<%= f.text_field :email %>
			<%= f.label :"研究室" %>
			<%= f.select :labo, [["久松研", "久松研"], ["その他", "その他"]],:prompt => nil %>
			<%= f.label :"パスワード" %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation, "パスワード(確認)" %>
			<%= f.password_field :password_confirmation %>
			<%= f.submit "作成", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	</div>
</div>