<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :"名前" %>
			<%= f.text_field :name %>
			<%= f.label :"学籍番号" %>
			<%= f.text_field :student_id %>
			<%= f.label :email %>
			<%= f.text_field :email %>
			<%= f.label :"研究室" %>
			<%= f.select :labo, [["久松研", "hisa"], ["その他", "other"]],:prompt => "所属研究室" %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>