<table border="0" cellpadding="2" cellspacing="1" bgcolor="#333333" width="100%">
<tr align="center" bgcolor="#FFFFFF">
<td colspan="7"><%= link_to "<<", controller: "static_pages", action: "home", calendar: "201503" %>2015年4月</td>
</tr>
<tr align="center" bgcolor="#CCCCCC">
<td>日</td>
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td>土</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td></td>
<td></td>
<td></td>
<td><%= link_to '1', "/calendar/2015/04/01" %></td>
<td><%= link_to '2', "/calendar/2015/04/02" %></td>
<td><%= link_to '3', "/calendar/2015/04/03" %></td>
<td><%= link_to '4', "/calendar/2015/04/04" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '5', "/calendar/2015/04/05" %></td>
<td><%= link_to '6', "/calendar/2015/04/06" %></td>
<td><%= link_to '7', "/calendar/2015/04/07" %></td>
<td><%= link_to '8', "/calendar/2015/04/08" %></td>
<td><%= link_to '9', "/calendar/2015/04/09" %></td>
<td><%= link_to '10', "/calendar/2015/04/10" %></td>
<td><%= link_to '11', "/calendar/2015/04/11" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '12', "/calendar/2015/04/12" %></td>
<td><%= link_to '13', "/calendar/2015/04/13" %></td>
<td><%= link_to '14', "/calendar/2015/04/14" %></td>
<td><%= link_to '15', "/calendar/2015/04/15" %></td>
<td><%= link_to '16', "/calendar/2015/04/16" %></td>
<td><%= link_to '17', "/calendar/2015/04/17" %></td>
<td><%= link_to '18', "/calendar/2015/04/18" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '19', "/calendar/2015/04/19" %></td>
<td><%= link_to '20', "/calendar/2015/04/20" %></td>
<td><%= link_to '21', "/calendar/2015/04/21" %></td>
<td><%= link_to '22', "/calendar/2015/04/22" %></td>
<td><%= link_to '23', "/calendar/2015/04/23" %></td>
<td><%= link_to '24', "/calendar/2015/04/24" %></td>
<td><%= link_to '25', "/calendar/2015/04/25" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '26', "/calendar/2015/04/26" %></td>
<td><%= link_to '27', "/calendar/2015/04/27" %></td>
<td><%= link_to '28', "/calendar/2015/04/28" %></td>
<td><%= link_to '29', "/calendar/2015/04/29" %></td>
<td><%= link_to '30', "/calendar/2015/04/30" %></td>
<td></td>
<td></td>
</tr>
</table>
