<table border="0" cellpadding="2" cellspacing="1" bgcolor="#333333" width="100%">
<tr align="center" bgcolor="#FFFFFF">
<td colspan="7"><%= link_to "<<", controller: "static_pages", action: "home", calendar: "201412" %> 2015年1月 <%= link_to ">>", controller: "static_pages", action: "home", calendar: "201502" %></td>
</tr>
<tr align="center" bgcolor="#CCCCCC">
<td>日</td>
<td>月</td>
<td>火</td>
<td>水</td>
<td>木</td>
<td>金</td>
<td>土</td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td></td>
<td></td>
<td></td>
<td></td>
<td><%= link_to '1', "/calendar/2015/01/01" %></td>
<td><%= link_to '2', "/calendar/2015/01/02" %></td>
<td><%= link_to '3', "/calendar/2015/01/03" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '4', "/calendar/2015/01/04" %></td>
<td><%= link_to '5', "/calendar/2015/01/05" %></td>
<td><%= link_to '6', "/calendar/2015/01/06" %></td>
<td><%= link_to '7', "/calendar/2015/01/07" %></td>
<td><%= link_to '8', "/calendar/2015/01/08" %></td>
<td><%= link_to '9', "/calendar/2015/01/09" %></td>
<td><%= link_to '10', "/calendar/2015/01/10" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '11', "/calendar/2015/01/11" %></td>
<td><%= link_to '12', "/calendar/2015/01/12" %></td>
<td><%= link_to '13', "/calendar/2015/01/13" %></td>
<td><%= link_to '14', "/calendar/2015/01/14" %></td>
<td><%= link_to '15', "/calendar/2015/01/15" %></td>
<td><%= link_to '16', "/calendar/2015/01/16" %></td>
<td><%= link_to '17', "/calendar/2015/01/17" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '18', "/calendar/2015/01/18" %></td>
<td><%= link_to '19', "/calendar/2015/01/19" %></td>
<td><%= link_to '20', "/calendar/2015/01/20" %></td>
<td><%= link_to '21', "/calendar/2015/01/21" %></td>
<td><%= link_to '22', "/calendar/2015/01/22" %></td>
<td><%= link_to '23', "/calendar/2015/01/23" %></td>
<td><%= link_to '24', "/calendar/2015/01/24" %></td>
</tr>
<tr align="center" bgcolor="#FFFFFF">
<td><%= link_to '25', "/calendar/2015/01/25" %></td>
<td><%= link_to '26', "/calendar/2015/01/26" %></td>
<td><%= link_to '27', "/calendar/2015/01/27" %></td>
<td><%= link_to '28', "/calendar/2015/01/28" %></td>
<td><%= link_to '29', "/calendar/2015/01/29" %></td>
<td><%= link_to '30', "/calendar/2015/01/30" %></td>
<td><%= link_to '31', "/calendar/2015/01/31" %></td>
</tr>
</table>

