<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content %>
	</div>
	<%= f.submit "つぶやく", class: "btn btn-large btn-primary" %>
	<% start = Micropost.find_by(:user_id => current_user, :content => "start") %>
	<% stop = Micropost.find_by(:user_id => current_user, :content => "stop") %>
	<%= form_for(@micropost) do |f| %>
	<% if start.created_at > stop.created_at %>
		
		<%= f.hidden_field :content, :value => "stop" %>
		<%= f.submit "研究終わり", class: "btn btn-large btn-primary" %>
	<% elsif start.created_at < stop.created_at %>
	
		<%= f.hidden_field :content, :value => "start" %>
		<%= f.submit "研究開始", class: "btn btn-large btn-primary" %>
	<% else %>
	
		<%= f.hidden_field :content, :value => "start" %>
		<%= f.submit "研究開始", class: "btn btn-large btn-primary" %>	
	<% end %>
	<% end %>

<% end %>

